*{
    margin: 0;
    padding: 0;

}
h3{
    text-align: center;
}
.box{
    width: 70%;
    padding: 20px;
    display: flex;
    background: #ddd;
    margin: 10px auto;
}
.item{
    height: 200px;
    padding: 10px;
    background: lightsteelblue;
    border: 1px solid #ddd;
    flex: 1;
    transition: .2s;
    align-items: center;
    text-align: center;
    display: flex;
}
.item:hover{
    flex: 3;
    background: rgb(43, 117, 213);

}